
.header {
	width: 100%;
	height: auto;
	background-color: #149948;
	font-size: 12px;
	color: #fff;
	font-weight: bolder;
}

.selectBox {
	margin: 5px 10px;
}

.select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;

   background-color: rgba(255,255,255,0.6);
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding: 2px 18px 2px 10px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

.input {
	background-color: rgba(255,255,255,0.6);
	font-size: 12px;
	color: #000;
	font-weight: 500;
	border: solid 1px #000;
	border-radius: 5px;
    padding: 2px 18px 2px 10px;
    width: 80px;
}


.searchBtn {
	margin: 5px 10px;
	border: solid 1px #000;
	border-radius: 5px;
    padding: 2px 18px 2px 10px;
	background-color: #FFFF00;
	font-weight: bolder;
	color: #000;

	/* 去除btn自带的样式 */
	box-shadow: none;
	outline: none;
}

.searchBtn:hover {
	background-color: #CCCC33;
}

